apiVersion: power.intel.com/v1
kind: PowerConfig
metadata:
  name: power-config
  namespace: intel-power
spec:
  powerNodeSelector:
    # Add labels here for the Nodes you want the PowerNodeAgent to be applied to
    feature.node.kubernetes.io/power-node: "true"
  powerProfiles:
    # Add wanted PowerProfiles here; valid entries are as follows:
    - balance-performance
    - balance-power
    - "performance"
