---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: cstates.power.intel.com
spec:
  group: power.intel.com
  names:
    kind: CStates
    listKind: CStatesList
    plural: cstates
    singular: cstates
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: CStates is the Schema for the cstates API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: CStatesSpec defines the desired state of CStates
            properties:
              exclusivePoolCStates:
                additionalProperties:
                  additionalProperties:
                    type: boolean
                  type: object
                type: object
              individualCoreCStates:
                additionalProperties:
                  additionalProperties:
                    type: boolean
                  type: object
                type: object
              sharedPoolCStates:
                additionalProperties:
                  type: boolean
                type: object
            type: object
          status:
            description: CStatesStatus defines the observed state of CStates
            properties:
              errors:
                items:
                  type: string
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
